USE [master]
GO
/****** Object:  Database [IMS]    Script Date: 2/3/2026 7:42:44 AM ******/
CREATE DATABASE [IMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMS.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMS_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMS]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[TableName] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NULL,
	[Data] [text] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ReviewedBy] [int] NULL,
	[DateReviewed] [datetime] NULL,
	[ApprovedBy] [int] NULL,
	[DateApproved] [datetime] NULL,
	[CreatedByUsername] [nvarchar](150) NULL,
	[ReviewedByUsername] [nvarchar](150) NULL,
	[ApprovedByUsername] [nvarchar](150) NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UserSessionId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversion]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [decimal](18, 4) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Conversion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Firstname] [nvarchar](250) NOT NULL,
	[Lastname] [nvarchar](250) NOT NULL,
	[Mobile] [nvarchar](250) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Address1] [nvarchar](250) NULL,
	[Address2] [nvarchar](250) NULL,
	[ShippingAddress1] [nvarchar](250) NULL,
	[ShippingAddress2] [nvarchar](250) NULL,
	[UserId] [int] NOT NULL,
	[Country] [nvarchar](max) NULL,
	[ShippingCountry] [nvarchar](max) NULL,
	[Postal] [nvarchar](20) NULL,
	[ShippingPostal] [nvarchar](20) NULL,
 CONSTRAINT [PK_CustomerDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Image]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Event_Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeaturedImage] [varbinary](max) NULL,
	[DateOfEvent] [datetime] NULL,
	[DateCreated] [datetime] NOT NULL,
	[Body] [text] NULL,
	[Title] [varchar](max) NOT NULL,
	[SubTitle] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varbinary](max) NULL,
	[Name] [varchar](max) NOT NULL,
	[SetCode] [varchar](150) NULL,
	[SetName] [varchar](max) NULL,
	[Collector] [varchar](max) NULL,
	[FoilType] [varchar](150) NOT NULL,
	[Rarity] [varchar](150) NOT NULL,
	[ManaboxId] [int] NOT NULL,
	[ScryfallId] [varchar](max) NOT NULL,
	[Price] [decimal](18, 3) NOT NULL,
	[Misprint] [bit] NOT NULL,
	[Tampered] [bit] NOT NULL,
	[Condition] [text] NOT NULL,
	[Language] [varchar](50) NULL,
	[PurchaseCurrency] [varchar](50) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreatedBy] [varchar](150) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [text] NULL,
	[Color] [varchar](150) NULL,
	[ManaCost] [varchar](250) NULL,
	[CardType] [varchar](max) NULL,
	[IllustratedBy] [varchar](max) NULL,
	[CollectionGroup] [nvarchar](max) NULL,
	[OwnerId] [int] NOT NULL,
	[Category] [nvarchar](250) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Count]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Count](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UOM] [varchar](50) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedBy] [varchar](150) NOT NULL,
	[Remarks] [text] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_InventoryCount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsLetter]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsLetter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NewsLetter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DueDate] [datetime] NULL,
	[OrderNumber] [nvarchar](150) NOT NULL,
	[InvoiceNumber] [nvarchar](150) NOT NULL,
	[CustomerName] [nvarchar](250) NOT NULL,
	[Address1] [nvarchar](max) NOT NULL,
	[Address2] [nvarchar](max) NULL,
	[ContactNumber] [nvarchar](150) NOT NULL,
	[ContactEmail] [nvarchar](150) NULL,
	[PaymentMethod] [int] NOT NULL,
	[SubTotal] [decimal](18, 3) NOT NULL,
	[Tax] [decimal](18, 3) NULL,
	[Shipping] [decimal](18, 3) NULL,
	[Total] [decimal](18, 3) NULL,
	[BookAccountNumber] [nvarchar](150) NULL,
	[Status] [int] NOT NULL,
	[DeliveryStatus] [int] NOT NULL,
	[DeliveryMethod] [int] NOT NULL,
	[DeliveryNote] [nvarchar](max) NULL,
	[Currency] [nvarchar](50) NULL,
	[IsPaid] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[SubName] [nvarchar](max) NULL,
	[SerialNumber] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 3) NOT NULL,
	[Total] [decimal](18, 3) NOT NULL,
	[PreviousOwnerName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [nvarchar](max) NOT NULL,
	[PayoneerId] [nvarchar](max) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[Currency] [nvarchar](150) NULL,
	[Status] [int] NOT NULL,
	[ErrorCode] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_Banner]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_System_Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_WebsiteInfo]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_WebsiteInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[LongName] [text] NULL,
	[Website] [text] NULL,
	[Email] [text] NULL,
	[ContactNumber1] [text] NULL,
	[ContactNumber2] [text] NULL,
	[ContactEmail1] [text] NULL,
	[ContactEmail2] [text] NULL,
	[Address1] [text] NULL,
	[Address2] [text] NULL,
	[WorkingHour] [text] NULL,
	[FB] [text] NULL,
	[Insta] [text] NULL,
	[Twitter] [text] NULL,
	[LinkeIn] [text] NULL,
 CONSTRAINT [PK_System_WebsiteInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](150) NOT NULL,
	[Middlename] [nvarchar](150) NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[Username] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[PasswordKey] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[InvalidLoginDate] [datetime] NULL,
	[InvalidLoginCounter] [int] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[IsCardOwner] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Session]    Script Date: 2/3/2026 7:42:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[LastDateOfActivity] [datetime] NOT NULL,
	[IsTerminated] [bit] NOT NULL,
	[IPAddress] [varchar](150) NULL,
	[FullName] [varchar](150) NULL,
 CONSTRAINT [PK_User_Session] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conversion] ADD  CONSTRAINT [DF_Conversion_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerDetails] ADD  CONSTRAINT [DF_CustomerDetails_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CustomerDetails] ADD  CONSTRAINT [DF_CustomerDetails_UserId]  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Events_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Events_IsFeatured]  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_Misprint]  DEFAULT ((0)) FOR [Misprint]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_Tampered]  DEFAULT ((0)) FOR [Tampered]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_OwnerId]  DEFAULT ((0)) FOR [OwnerId]
GO
ALTER TABLE [dbo].[Inventory_Count] ADD  CONSTRAINT [DF_Inventory_Count_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_DeliveryMethod]  DEFAULT ((0)) FOR [DeliveryMethod]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_IsPaid]  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_InvalidLoginCounter]  DEFAULT ((0)) FOR [InvalidLoginCounter]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsCardOwner]  DEFAULT ((0)) FOR [IsCardOwner]
GO
ALTER TABLE [dbo].[User_Session] ADD  CONSTRAINT [DF_User_Session_IsTerminated]  DEFAULT ((0)) FOR [IsTerminated]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventory] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Inventory]
GO
ALTER TABLE [dbo].[Event_Image]  WITH CHECK ADD  CONSTRAINT [FK_Event_Image_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Event_Image] CHECK CONSTRAINT [FK_Event_Image_Events]
GO
ALTER TABLE [dbo].[Inventory_Count]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Count_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventory] ([Id])
GO
ALTER TABLE [dbo].[Inventory_Count] CHECK CONSTRAINT [FK_Inventory_Count_Inventory]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_Order_Item_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_Order_Item_Order]
GO
USE [master]
GO
